<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>re-quest</title>
	<script type="module" src="{{ url_for('static', filename='js/re-quest.js') }}"></script>
	<script type="module" src="{{ url_for('static', filename='js/html-event.js') }}"></script>


	<style>
		body {
			font-family: sans-serif;
		}

		.test {
			color: red;
		}

		[data-user] {
			margin-bottom: 1rem;
			border: 1px currentColor solid;
			padding: 4px;
			border-radius: 1px;
		}

		re-target,
		re-quest {
			display: contents;
		}

		.columns {
			display: flex;
			gap: 16px;
		}
	</style>
</head>

<body>

	<re-quest>
		<form action="/reminders" method="POST">
			<label for="mmid">mmid</label>
			<input type="text" name="mmid" id="mmid">

			<label for="description">description</label>
			<input type="text" name="description" id="description">

			<input type="submit" value="add">
		</form>
	</re-quest>


	<div class="columns">
		<div re-target="reminders">
			{% include "reminders.jinja" %}
		</div>
	</div>


</body>

</html>